.reorderable-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 60px;
  border-radius: 7px;
  padding: 15px;
  gap: 10px;
}

.reorderable-card-title {
  display: flex;
  align-items: center;
  gap: 10px;
}


